{% extends "layout.html" %}
{% block content %}
<h1 class="article-title">About Page</h1>
<article class="media content-section">
    <div class="media-body">
        <h3 class="article-title">Welcome!</h3>
        <p class="article-content">
            This website was created using the python web framework Flask.
            Please feel free to create an account and make posts. This website 
            was created for learning purposes, it is just for fun. 
        </p>
    </div>
</article>
{% endblock content %}